<%- include('partials/header') %>
         <%# Image %> 
        <div class="background1">
           <img src="https://cdn.pixabay.com/photo/2017/07/31/01/11/cinema-2556157_1280.jpg"
                      class="img-fluid" alt="Responsive-image">                 
              <div class="text-center">
                 <h1 class="text-uppercase main text" >
                   In the mood to Catch a flick? <br>See what movies are playing now!</h1>
                  <a href="/results" class="btn btn-warning">Show me a list of Movies</a>
              </div>
        </div>    
    </body>
</html>

<%- include('partials/footer') %>