        <%- include('partials/header') %>

        <form action="/searchresults">
            <h1>Find a food place near you!</h1>
            <div class="container well"></div>
              <label for="location">Enter your location:</label>
              <input type="text" class="form-control" id="location"
               name="location" placeholder="Enter your location">              
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form><br><br><br>

        <%- include('partials/footer') %>
