        <%- include('partials/header') %>
        <form>
            <h1>Find a food place near you!</h1>
            <div class="form-group">
              <label for="example1">Enter your location:</label>
              <input type="text" class="form-control" id="location" 
              placeholder="Enter your location">              
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form><br><br><br>

        <%- include('partials/footer') %>
