body {   
  display: flex;  
  align-items: center;
  justify-content: center;   
  padding: 150px;  
  animation: color 27s ease infinite;
  font-family: 'Orbitron', sans-serif; 
} 

*::after, *::before {
    box-sizing: border-box;
} 


.clock { 
  /* Relative for the clock hands*/
  position: relative;
  border: 22px solid white;  
  border-radius: 250px;
  height: 375px;
  width: 375px;
  /*clock has a slight transparent background*/
  background-color: rgba(255, 255, 255,.3);    
}

.clock .number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;    
    text-align: center;    
    /* transform: rotate(deg); */
    transform: rotate(var(--rotation));
}

/*Clock numbers on the clock itself with numbers displayed
at different degrees*/
.clock .number1 { --rotation: 30deg;}
.clock .number2 { --rotation: 60deg;}
.clock .number3 { --rotation: 90deg;}
.clock .number4 { --rotation: 120deg;}
.clock .number5 { --rotation: 150deg;}
.clock .number6 { --rotation: 180deg;}
.clock .number7 { --rotation: 210deg;}
.clock .number8 { --rotation: 240deg;}
.clock .number9 { --rotation: 270deg;}
.clock .number10 { --rotation: 300deg;}
.clock .number11 { --rotation: 330deg;}
/*12 is defaulted to 0 in the clock number rotation attribute*/


.hand {
  /* Hands in Absolute relation to clock*/
  position: absolute;
  width: 4px;
  bottom: 190px;
  left: 180px;
  transform: rotate(90deg);
  /*transform origin 50% across 100% down*/
  transform-origin: 50% 100%;
   /*cubic bezier timer*/
   transition: all 0.50s;
   transition-timing-function: cubic-bezier(0.3, 2.7, 0.58, 1); 
   /*Hands will be drawn on top of numbers*/
   z-index: 10;
}


.hour {
    height: 120px;
    background-color: green;
}

.minute {
  height: 140px;
  background-color: yellow;   
}

.second {
  height: 170px;
  background-color: red; 
}

/*Changing background Colors*/
  @keyframes color {
    0% {background-color: #4FC3F7;}
    4% {background-color: #29B6F6;}
    8% {background-color: #03A9F4;}
   12% {background-color: #039BE5;}
   15% {background-color: #0288D1;}
   19% {background-color: #0277BD;}
   22% {background-color: #01579B;}
   26% {background-color: #9575CD;}
   30% {background-color: #7E57C2;}
   34% {background-color: #673AB7;}
   38% {background-color: #5E35B1;}
   42% {background-color: #512DA8;}
   46% {background-color: #4527A0;}
   50% {background-color: #311B92;}
   54% {background-color: #7986CB;}
   58% {background-color: #5C6BC0;}
   62% {background-color: #3F51B5;}
   66% {background-color: #3949AB;}
   70% {background-color: #303F9F;}
   74% {background-color: #283593;}
   78% {background-color: #1A237E;}
   82% {background-color: #64B5F6;}
   86% {background-color: #42A5F5;}
   90% {background-color: #2196F3;}
   94% {background-color: #1E88E5;}
   98% {background-color: #1976D2;}
   98% {background-color: #1565C0;}
   100% {background-color: #0D47A1;}
  }
 