<h1>I am the about page</h1>

<% data.forEach(el => { %>
    <% let {name, size, breed, country} = el %>
    <% console.log(el) %>
    <p><%=el.name %> is a(n) <%= el.size %> <%= el.breed %> from <%= el.country %></p> 
<% }) %>