.App {
  text-align: center;    
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ul {  
  list-style-type: none;
  font-size: 40px;
  margin: 0;
  padding: 0;  
  background-color: tan;
}

li {  
  display: inline;
  padding: 60px;  
}

p {
  font-size: 21px;
}
