<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <%#Styles.css #%>
        <link rel="stylesheet" href="/public/styles.css">

        <%# Google Fonts #%>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">        
    </head>
    <body>        
        <script src="" async defer></script>
    </body>
</html>


<form action='/results' method="get">
    <div class="button">
        <button type="submit">
            Show me characters
        </button>        
    </div>
</form>