html, body {
    background-color: #d2b48c;
    padding: 0;
    margin: 0;
    text-align: center;    
}

/*Click button */
.click {    
    background-color: #491818;
    border-radius: 100px;   
    font-size: 25px;
    color: #d2b48c; 
    padding: 8px;             
}

/*border*/
.fieldset-border {    
    border: 18px groove  #491818; 
    width: 75%;   
    padding: 10px;     
    margin: auto;  
    font-size: 32px;      
} 

/*Legend inside border*/
.fieldset-legend {      
    background-color: #491818;
    font-size: 32px;
}

/*Need to Read and Already Read*/
.items {    
    padding: 5px;    
    display: block;    
    text-align: left;        
}

/*Recipe*/
h1 {
    font-size: 50px;
}

/*recipe id*/
h3 {
    color: black;
    font-size: 40px;   
}
