<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%#Google Fonts#%>
        <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap" rel="stylesheet">
        
        <%#Bootstrap CSS#%>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <%#Styles CSS page#%>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
    <form- name="myForm" action="/results" method="get">
         <h1>"Hello, Cocktails"</h1>
        <div class="container">
            <p id="name"></p>           
            <img id="image" src="" alt="cocktail" /><br><br>
            <p style='text-decoration: underline'><strong>INGREDIENTS and MEASUREMENTS</strong></p>
            <p id="ingredient1" style="text-decoration: underline;"></p>
            <img id='ingredient_image' src=""/>
            <p id="measurement1"></p>
            <p id="ingredient2" style="text-decoration: underline;"></p>
            <p id="measurement2"></p>
            <p id="ingredient3" style="text-decoration: underline;"></p>
            <p id="measurement3"></p>
            <p id="ingredient4" style="text-decoration: underline;"></p>
            <p id="measurement4"></p>

            <input id="btn" class="btn btn-success" value="Need a drink?"></input>
            <br><br> 
            <p><strong font-size= '25px'>INSTRUCTIONS</strong></p>
            <p id="instructions">            
            </p>          
        </div> 
    </form>

        
        <%# jQuery first, then Popper.js, then Bootstrap JS#%>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" 
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>