/* Container holding the image and the text */
.textoverlay {
  position: relative;
  text-transform: uppercase;     
}

/*Having two different positions for relative and absolute gives
us the ability to move the text in the picture*/
.text-block {   
  position: absolute; 
  color: white;  
  vertical-align: middle;  
  text-align: center;
  top: 20%;  
  /*width: 900px;*/
  padding-left: 400px;
  padding-right: 400px;  
  font-family: Oswald;
}
