<%- include('partials/header')%>
<h1>Event Finder!!</h1>

<div class="form" >
    <form action="/results" >
    
    <div>
    <label for="Location"><strong>Enter your loction:</strong></label><br>
    <input type="search" name="location" placeholder="Enter your location" id="Location">
    </div>
    <br>
    <input type="submit" class="btn btn-primary">
    </form>
    
    </div>

    <%- include('partials/footer')%>
   

        
       
