form, h1 {
    padding-left: 20px;      
} 

#theForm {
    color: blue;
}

fieldset.form-border {
    border: 1px groove black;
    width: 55%;
    padding: 25px;
    margin: 15px;       
}

legend.w-auto {      
    width: auto;    
}
