<%-include('partials/header') %>  

<%# Form #%>
<div class="container-well">            
    <form action="/results" method="get" class="form-inline my-3">
        <%# Beer Name#%>                
        <input id="beer_name" name="beer_name" type="search"
        class="form-control mr-sm-2" placeholder="Search for beer" required>
        <br>
        <button type="submit" class="btn btn-primary">Search</button>          
    </form>            
</div>
             

<%-include('partials/footer') %>      

