/* Styling for the body and html */
body, html {
    text-align: center;
    padding-top: 40px;  
    background-color: darkblue;
    color: white;
    font-size: 35px;     
}

/* Styling for the title of the page */
h2 {
    font-size: 56px;
}

