.form-inline.my-3 {
    display: flex;
    align-items: center;
    max-width: 18rem;
}

img {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 75px;
    height: 225px;
}

  /* .favorite {
    visibility: hidden;
    font-size: 25px;
    color: gold;
    cursor:pointer;
}

.favorite:before {
   content: "\2606";
   position: absolute;
   visibility:visible;
}

.favorite:checked:before {
   content: "\2605";
   position: absolute;
} */
