    <%- include('partials/header') %>

    <h1><strong>Bitcoin Price App</strong></h1><br> 
    <form class="form-check form-check-inline" action="/results" method="get">      
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="currency" id="usd" value="USD">
          <label class="form-check-label" for="usd">
            USD
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="currency" id="exampleRadios2" value="GBP">
          <label class="form-check-label" for="exampleRadios2">
            GBP
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="currency" id="exampleRadios3" value="EUR">
          <label class="form-check-label" for="exampleRadios3">
            EUR
          </label>        
        </div>

      <input type="submit" class="btn btn-primary my-1" value="Get Price">
    </form>
    <p>
      <strong>The current price is:</strong>
    </p>         
  </body>
</html>