<p>The is the current price</p>

<div class="container well" >
    <p><%= data.bpi.USD.rate_float.toFixed(2) %></p>
    <p><%= data.bpi.GBP.rate_float.toFixed(2) %></p>
    <p><%= data.bpi.EUR.rate_float.toFixed(2) %></p>
</div>

 
