body, html {
    margin: 0;
    background: #eceff1; 
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;    
    overflow: hidden;               
  }
  
  li {    
    float: left;
    border-right: 0.05em solid white;
    background: #01579b;
        
  }
  
  li a {        
    display: block;    
    color: white;
    padding: 0em;     
    font-size: auto;
    width: 300px;
    height: 70px;
    text-decoration: none;
    text-align: center;        
    font-family: 'Oswald', sans-serif;
  }

  li a:hover {
    background: #9ad1e3;
  }

  li a ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #eceff1;            
  }

  li a ul li {    
    float: left;
    vertical-align: auto;
            
  }  

  li a ul li a {        
    display: block;
    color: white;
    padding: 0em; 
    width: 300px;
    height: 70px;         
    font-size: auto;
    text-decoration: none;
    text-align: center;    
    font-family: 'Oswald', sans-serif;
    font: bold;    
  }

  li ul li a:hover {    
    background: #ace39a;
    color: white;
  }
